{% extends 'base.html' %}
{% load static %}

{% block title %}Picture{{ picture.pk }}{% endblock title %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:picture-view' picture.pk %}">Вернуться к фото</a>
    </li>
{% endblock nav %}

{% block content %}

    <div class="container">
        <h3>Обновить фото</h3>
    </div>

    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% include "partials/form.html" with button_text="Обновить" %}
        </form>
    </div>
{% endblock content %}