{% extends 'base.html' %}
{% load static %}

{% block title %}Picture{{ picture.pk }}{% endblock title %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:picture-update' picture.pk %}?next={{ request.get_full_path }}">Обновить фото</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:picture-delete' picture.pk %}?next={{ request.get_full_path }}">Удалить фото</a>
    </li>
{% endblock nav %}

{% block content %}

    <div class="container">
        <h3>Картина от {{ picture.author }}</h3>
    </div>

    <div class="container">
        <img src="{{ picture.image.url }}" class="img-fluid" alt="img">
        <h4>{{ picture.author }}</h4>
        <h4>{{ picture.signature }}</h4>
        <h4>{{ picture.created_at }}</h4>
        {% if picture.album %}
            <h5><a href="{% url 'webapp:album-view' picture.album.pk %}">{{ picture.album }}</a></h5>
        {% endif %}
    </div>
    <div class="container">
        <a class="link-generate" href="{% url 'webapp:link-generate' picture.pk %}=?next">Generate Link</a>
    <p></p>
    </div>
{% endblock content %}
{% block scripts %}

{% endblock scripts %}